html,
body {
  background-color: #e9ddd9b1;
  height: 100%;
  width: 100%;
  font-family: "Gotu", sans-serif;
  color: #222;
}
h2 {
  font-weight: 800;
}
/*Customize nav bar*/
.navbar {
  opacity: 0.8;
  padding-right: 1.3rem;
}
.navbar-nav li {
  padding-right: 30px;
}
.nav-link {
  font-size: 1.1rem !important;
}

/*Customize carousel*/
.carousel-inner img {
  width: 100%;
  height: 89vh;
  background-position: center;
}
.carousel-caption {
  position: absolute;
  transform: translateY(-10%);
}
.carousel-caption h1 {
  font-size: 800%;
  text-shadow: 1.5px 1.5px 30px #000;
}
.carousel-caption h3 {
  font-size: 200%;
  font-weight: 500;
  text-shadow: 1px 1px 10px #000;
  padding-bottom: 2rem;
}
.carousel-caption .btn-primary {
  background-color: #000000;
  border-color: #1a1a1a;
  width: 8rem;
}
.carousel-caption .btn {
  width: 10rem;
  height: 3.5rem;
}
.carousel-caption .btn-primary:hover {
  background-color: white;
  color: #000;
}
.btn:hover {
  transform: scale(1.08);
}
.btn {
  transition: all 0.4s ease;
}

/*Customized introdution*/
.vl {
  margin-top: 5rem;
  border-right: 1px solid rgba(142, 142, 142, 0.399);
  height: 20vh;
}
.section {
  height: 100%;
  padding-top: 2rem;
}
.introdution h2 {
  padding: 1rem;
  font-size: 400%;
}
.introdution h3 {
  font-size: 150%;
  padding-bottom: 3rem;
}
.introdution p {
  padding-bottom: 1rem;
  font-size: 110%;
}

/*customized kind of room*/
.kind-of-room {
  margin: 6rem 0rem;
  padding: 0;
}
.room {
  width: 400px;
  height: 600px;
  background-color: blanchedalmond;
  background-size: cover;
  background-position: center;
  padding: 0;
  transition: all 0.3s ease;
}
.guest-room {
  background-image: url(../img/guest-room.jpg);
}
.suites-room {
  background-image: url(../img/suites-room.jpg);
}
.penthouse-room {
  background-image: url(../img/penthouse.jpg);
}
.over-lay {
  background-color: rgba(29, 29, 29, 0.447);
  height: 100%;
  width: 100%;
  align-items: flex-end;
  display: flex;
  box-sizing: border-box;
  transition: all 1.3s ease;
}
.over-lay span {
  margin: 4rem;
  font-size: 200%;
  color: white;
}
.room:hover {
  transform: scale(1.05);
}
.room:hover .over-lay {
  background-color: rgba(29, 29, 29, 0.714);;
}

/* Customized services */
.services {
  margin: 10rem 9rem;;
}
.services .rounded-circle {
  padding: 0;
}
.services .rounded-circle img {
  margin-bottom: 1.8rem;
}
.services .rounded-circle h4 {
  font-size: 95%;
  font-weight: 800;
}

/* Customized our rooms */
.our-room h2 {
  font-size: 250%;
  margin-bottom: 5rem;
}
.list-group {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  margin-bottom: 3rem;
}
.list-group a {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 180px;
  background-color: rgba(255, 255, 0, 0);
  border: none;
  color: rgb(136, 136, 136);
  font-size: small;
  font-weight: 900;
  transition: all 0.3s ease;
}
#border {
  border-left: 1px solid rgba(136, 136, 136, 0.221);
  border-right: 1px solid rgba(136, 136, 136, 0.228); 
}
.list-group .active {
  background-color: rgba(255, 0, 0, 0);
  color: #000;
}
.list-group a:hover{
  background-color: rgba(255, 0, 0, 0);
  color: #000;
}
.panel-item {
  margin: 0;
  padding: 0;
}
.our-room .tab-pane {
  margin: 0rem 7rem;;
}
.our-room-img {
  min-width: 350px;
  height: 350px;
  background-color: rgb(191, 191, 191);
}
.our-room .tab-pane h3{
  font-size: 150%;
  padding: 2rem 1rem;
}
.our-room .tab-pane p{
  font-size: 90%;
  padding: 2rem 1rem;
  opacity: .9;
}
.our-room .tab-pane .king-room {
  background-image: url(../img/king-room.jpg);
  background-size: cover;
  background-position: center;
}
.our-room .tab-pane .queen-room {
  background-image: url(../img/queen-room.jpg);
  background-size: cover;
  background-position: center;
}
.our-room .tab-pane .double-queen-room {
  background-image: url(../img/double-queen-room.jpg);
  background-size: cover;
  background-position: center;
}










/*--Media Qeries --*/
@media (max-width: 992px) {
}
@media (max-width: 768px) {
}
@media (max-width: 576px) {
}
